<li><%= link_to 'Referenten', referents_path %>
  <ul>
    <li><%= link_to 'Referenten anlegen', new_referent_path %></li>
    <li><%= link_to 'Lizenzen', licenses_path %></li>
    <li><%= link_to 'Sprachen', languages_path %></li>
  </ul>
</li>
